$site-font: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$color-background: #f7f7f7;

$colors: (
    primary: (
        base: #EC494A,
        contrast: #fff
    ),
    light: (
        base: #fff,
        contrast: #222
    )
);